<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quartos Vip</title>
  <link rel="stylesheet" href="/resource/css/all.min.css">
  <link rel="stylesheet" href="/resource/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resource/css/style.css">
</head>
<body>
  <main class="main-container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" class="navbar-brand">
          <i class="fab fa-accusoft mr-2"></i>
          Pousada
        </a>
        <button type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/quartos" class="nav-link active">Quartos</a>
            </li>
            <li class="nav-item">
              <a href="/contato" class="nav-link">Contato</a>
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-dark"><a href="/admin/reservas" class="text-light">Admin</a></button>
      </nav>
    </header>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Quartos Vip</h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam magni accusantium, facilis tempora, omnis assumenda consequuntur aspernatur sed deserunt eaque, in laudantium ea quod temporibus ut eligendi minima perferendis voluptatum.</p>
        </div>
      </div>
    </div>
    <footer class="main-footer navbar-fixed-bottom bg-dark mt-3">
      <div class="container">
        <p class="text-light text-center p-3">Developed by Alfredo Henrique, Gabriel Fellone, Leandro Rocha, Leticia Bora and Renan Miyamoto</p>
      </div>
    </footer>
  </main>
</body>
</html>